
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
html,body{
    
    width: 100%;
    height: 100%;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#box1{
color: white;
background-color: rgb(0, 0, 0);
width: 70%;  
height: 300px;

/*to display content center*/
display: flex;
justify-content: center; /*horizontaly center*/
align-items: center;    /*vertically center */     

font-size: 26px;
font-weight: bold;
}

button{
    background-color: gray;
    color: white;
    margin: 10px 8px;
    padding: 23px 40px;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-shadow: gray;
    border-radius: 5px;
}

button:hover{
    background-color: oklch(56.859% 0.2235 28.304 / 0.549);
}








    





















