*{
    padding: 0%;
    margin: 0%;
}

html,body{
    color: #fff;
    background-color: black;
}

#btn{
    background-color: rgb(17, 211, 149);
    color: bisque;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
    font-weight: 800;
    font-size: large;
}

.box{
    height: 500px;
    width: 700px;
    color: aliceblue;
    background-color: aqua;
    border: none;
    border-radius: 10px;
}

.active{
    background-color: crimson;
}