*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

img{
   width: 425px;
   height: 570px;
   transition: 0.5s ease;
   cursor: pointer;

}