*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: white;
    background-color: black;
}
button{
    padding:12px 18px ;
    background-color: aquamarine;
    border-radius: 10px;
    cursor: pointer;
}
ul{
  list-style: none;
  padding: 0;
}

li{
  background-color: #4caf50;
  color: white;
  padding: 10px;
  margin: 6px 0;
  border-radius: 5px;
}
